<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" routerLink="/">BACK</a>
                  <form class="d-flex mx-auto">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                   
                  </form>
                </div>
              </nav>
        </div>
    </div>
</div> 



  <div class="container-fluid" style="background-color: rgb(223, 217, 217);">
   
    <app-character-list></app-character-list>
    
  </div>
 

    
  